#include "/home/hb/.terminalThemes/Xresources-themes/base16-tomorrow-night.Xresources"
!--------------------xdefaults
URxvt.font: xft:JetBrainsMono-Regular:pixelsize=24
urxvt*termName: rxvt
urxvt*scrollBar: false
urxvt*matcher.button: 1
urxvt.boldFont:
Xft*dpi: 96
Xft*antialias: true
Xft*hinting: true
Xft*hintstyle: hintfull
URxvt*cursorUnderline:  true
Xft*rgba: rgb
URxvt*geometry: 85x20
*internalBorder: 23
URxvt*tintColor: #ffffff
URxvt*inheritPixmap: False
URxvt.background:   rgba:0000/0000/0200/c800
URxvt.foreground: base05
URxvt.depth: 32
URxvt.dynamicColors: on

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard
